@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
	width: 100%;
	text-align: center;
}
#wrapper {
	display: block;
	margin: auto;
}
#page_home {
	background-color: #320a5c;
}
#page_home #welcome_text {
	width: 97%;
	max-width: 440px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}
#page_home #welcome_text .context {
	margin-top: 24px;
	text-align: center;
	line-height: 150%;
	font-size: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
#page_home #details_form {
	margin: auto;
	text-align: left;
	width: auto;
}
#page_home #details_form label span {
	height: 35px;
	display: block;
	position: relative;
	top: 43.5px;
	left: -40px;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: left;
}
#page_home #details_form label span {
	background-size: 25px;
}
#page_home #details_form label[for=full_name] span {
	background-image: url('../images/form_profile.png');
}
#page_home #details_form label[for=email] span {
	background-image: url('../images/form_email.png');
}
#page_home #details_form label[for=date] span {
	background-image: url('../images/form_calander.png');
}
.ui-corner-all {
	border-radius: 0 !important;
}
#page_home #details_form p label {
	margin-left: 12%;
}
#page_home #details_form p {
	width: 95%;
	max-width: 445px;
	margin: auto;
	height: 55px;
}
#page_home #details_form p a {
	width: 80px;
	margin: auto;
	margin-top: 25%;
	color: #320a5c;
	background-color: #c0bfc0;
	font-weight: bold;
}
.ui-page-theme-a .ui-btn {
	width: 80px;
	margin: auto;
	margin-top: 25%;
	color: #320a5c;
	background-color: #c0bfc0;
	font-weight: bold;
}
#page_astrology > div, #page_statistics > div {
	margin: 0;
	padding: 0;
}
#page_astrology #astrology {
	width: 88%;
	max-width: 350px;
	margin: auto;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0px 0px black;
}
#page_astrology .astrology_title {
	width: auto;
	background-color: white;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: 400;
	color: black;
	text-align: center;
	padding: 9px;
}
#page_astrology #astrology .zodiac_name {
	padding: 10px;
	background-repeat: no-repeat;
	background-size: 24px;
	padding-left: 33px;
	background-position: 0px center;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 22px;
	font-weight: 400;
}
#page_astrology #astrology .zodiac_astrology {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
#question_part {
	font-weight: 700;
	color: white;
	text-shadow: 0px 0px black;
	width: 97%;
}
#question {
	padding-bottom:20px;
	font-family: 'Roboto';
	font-style: normal;
}
#page_astrology a {
	width: 100%;
	max-width: 150px;
	margin-top: 10px;
	border: none;
	font-weight: normal;
	color: white;
	text-shadow: 0px 0px black;
}
#page_astrology .trueButton {
	/*margin-right:5px;*/	/*for space between true/false buttons*/
	background-color: #fd0160;
	width: 130px;
}
#page_astrology .falseButton {
	margin-left: 5px;	/*for space between true/false buttons*/
	background-color: #2c2048;
	width: 130px;
}
#page_statistics {
	margin: 0px auto;
	background-image: url('../images/map.jpg');
	background-size: auto;
}
/*#page_statistics .ui-content{
 width:100%;
 }*/
#page_statistics .statistics_title {
	width: auto;
	background-color: white;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: 400;
	color: black;
	text-align: center;
	padding: 9px 0px 9px 0px;
	border-bottom: 1px solid #2c2048;
	margin-bottom: 20px;
	/*background: url('../images/false_comment.png') 1% center no-repeat, url('../images/true_comment.png') 99% center no-repeat;*/
	background-size: 30px;
}
#page_statistics #trueIcon , #page_statistics #falseIcon{
	width: 50px;
	height: 30px;
	margin:0;
	padding:0;
	position: relative;
	margin-bottom:5px;
	display: inline-block;
	top:-4px;
}
#page_statistics #trueIcon{
	float: right;
	background: url('../images/true_comment.png') 70% center no-repeat;
	background-size: 30px;
}
#page_statistics #falseIcon{
	float: left;
	background: url('../images/false_comment.png') 30% center no-repeat;
	background-size: 30px;
}
#page_statistics #country_name {
	margin: auto;
	margin-bottom: 20px;
}
#page_statistics #country_name span {
	background-image: url('../images/location.png');
	background-repeat: repeat;
	background-position: "center center";
	width: 11px;
	height: 16px;
	float: left;
	display: inline;
}
#page_statistics #canvas {
	width: 350px;
	margin: auto;
	display: none;
}
#page_statistics a {
	position: absolute;
	top: 90%;
}
#page_statistics #dataURL {
	width: 100%;
	max-width: 350px;
	margin: auto;
}
#page_astrology {
	background: url('');
	background-size: contain;
}
.pieTextAstrology{
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: lighter;
}
.pieTextState{
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: 400;
}
.falseComments .statistics_title, .trueComments .statistics_title{

}
.falseComments .statistics_title{
	color: #2c2048 !important;
}
.trueComments .statistics_title{
	color: #fd0160 !important;
}
@media only screen and (min-width: 769px) {/*Desktop*/
	#page_welcome {
		background: url('../images/welcome_desktop.jpg') no-repeat center center;
		background-size: cover;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {/*Tablet*/
	#page_welcome {
		background: url('../images/welcome_tablet.jpg') no-repeat center;
		background-size: cover;
	}
}

@media only screen and (max-width: 480px) {/*mobile*/
	#page_welcome {
		background: url('../images/welcome_mobile.jpg') no-repeat center;
		background-size: cover;
	}
	#page_astrology {
		background-size: cover;
	}
}
/* pie flot */
#placeholder {
	width: 220px;
	height: 220px;
	margin: auto;
	text-align: center;
}
.legend table, .legend > div {
	opacity: 1 !important;
	margin: auto;
	text-align: center;
}
.legend table {
	border: 1px solid #555;
	margin: auto;
	text-align: center;
}
.pieLabel > div {
	text-align: center;
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
/* Off Canvas Menu */
#site-wrapper {
	position:relative;
	width:100%;
	margin: auto;
}
#site-canvas {
	margin:auto;
	width:100%;
	overflow:inherit;
	position:relative;
	-webkit-transform:translateX(0);
	transform:translateX(0);
	-webkit-transition:.3s ease all;
	transition:.3s ease all;
}
#site-menu-left {
	width:95%;
	height:100%;
	position:absolute;
	top:0;
	left:-95.5%;
	background:white;
}
#site-menu-right {
	width:95%;
	height:100%;
	position:absolute;
	top:0;
	right:-95.5%;
	background:white;
}
#site-wrapper.show-nav-left #site-canvas {
	-webkit-transform:translateX(95%);
	transform:translateX(95%);
}
#site-wrapper.show-nav-right #site-canvas {
	-webkit-transform:translateX(-95%);
	transform:translateX(-95%);
}
/* dialog */
#dialog{
	height:100%;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: 400;	
}
.dialogB.ui-btn.ui-btn-inline {
	width: 100px ;
	margin-top:7px;
	color: black;
	background-color: #c0bfc0;
	font-weight: bold;
}
#dialogCancel{
	float: left;
}
#dialogSave{
	float: right;
}
.objComment{
	width:70%;;
	margin:auto;
	max-width:270px;
	height:350px;
	padding:0;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 15px;
	font-weight: 400;	
}
.objComment article , .objComment p{
	text-align: left;
	margin-bottom: 5px;
}
.objComment article>span{
	float: right;
	padding-right: 22px;
	background-image: url('../images/clockIcon.png');
	background-repeat:no-repeat;
	background-position: 22px center;
}
.objComment p{
	font-weight: 300;
	padding-left: 15px;
	background-image: url('../images/location.png');
	background-repeat:no-repeat;
	background-position: 0px center;
	opacity: 0.7;
}
.objComment p:nth-child(4), .objComment p:nth-child(5){
	text-align:center;
	margin:auto;
	display:inline-block;
	margin-right:5px;
	float:left;
	width:80px;
	padding:5px;
	text-shadow: 0 0 black;
	background-color: grey;
	background-size: 25px;
}
.objComment p:nth-child(4){
	background-image: url('../images/likeIcon.png');
}
.objComment p:nth-child(5){
	background-image: url('../images/commentIcon.png');
}
.objComment img{
	width:auto;
	max-width:270px;
	height:250px;
	padding: 0;
}
